$accent: #2680D9;
$skyblue: #70C1FE;
$skybluetranslucent:  rgba(112, 193, 254, 0.25);
$skygradient: linear-gradient(180deg, $skyblue 0%, $skybluetranslucent 100%);

$fontfamily: 'DM Sans', Helvetica, Arial, sans-serif;